@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #1a1b26;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}